{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Login{% endblocktrans %}
{% endblock %}

{% block head %}
<script>

// pause plugin
$.fn.pause = function(duration) {
    $(this).animate({ dummy: 1 }, duration);
    return this;
};

$(document).ready(function() {
    $("label").inFieldLabels();

    // remove the login error box after 3 seconds
    $("#login-error").pause(3000).fadeOut();
});
</script>
{% endblock %}


{% block content %}
<ul id="posts" >
    <li class="post">
        <h3>
            {% trans 'Login' %}
            <a href="{% url auth_password_reset %}">{% trans 'Forgot password?' %}</a>
        </h3>

        
        <div class="post-content">
            <p>
            <form action="" method="post">{% csrf_token %}

                {% if form.errors %}
                <p id="login-error">{% trans 'Sorry, you entered an invalid username or password.' %}</p> 
                {% endif %}

                <fieldset>
                    <p>
                        <label for="username">{% trans 'Username' %}</label>
                        <input id="username" type="text" name="username" /> 
                    </p>

                    <p>
                        <label for="password">{% trans 'Password' %}</label>
                        <input id="password" type="password" name="password" /> 
                    </p>
                </fieldset>
                
                <p>
                    <button type="submit">&rarr;</button>
                    <input type="hidden" name="next" value="{{ next|escape }}" />
                </p>

            </form> 
            </p>
        </div>
    </li>
</ul>
{% endblock %}
