/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

body { 
    color: #747474; 
    font: 100% "Lucida Grande", Helvetica, Arial, Sans-serif;
    text-align: center;
}

a {
    color: #006d92;
    text-decoration: none;
}

a:hover {
    color: #e78200;
}

hr {display:none;}


/* NETWORK */
#network {background:#f1f7f8; font-size:80%; list-style:none; padding:8px; text-align:left;}
    #network li {display:table-cell; padding: 0 9px 0 9px; margin:0 20px 0 0;  vertical-align:middle;}

/* CONTAINER */
#container {margin:20px auto;text-align:left;width:960px;}

/* header */
		#header {border-bottom:#f1f7f8 3px solid;}
			#header h1 {float:right;}
				#header h1 a {display:block;height:45px;text-indent:-5000px;width:65px;}
					#header h1 a:hover {background-color:#e78200;}
			#header ul {border-bottom:#424242 1px solid;}
				#header ul li {float:right;margin:0 20px 0 0;}
					#header ul li a {color:#424242;font-family:Georgia, "Times New Roman", Serif;font-size:150%;line-height:45px;}
					#header ul li a:hover {color:#e78200;}
	/* tagline */
		h2#tag {color:#424242;font-size:300%;font-weight:normal;padding:50px 0;text-align:center;}
		#tag{color:#424242;font-size:300%;font-weight:normal;padding:50px 0;text-align:center;}
	/* projects */
		#projects {background:#f1f7f8;border:#e3f0f2 1px solid;list-style:none;margin:0;padding:10px;}
			#projects li {display:none;}
				#projects li:first-child {display:block;}
				#projects li .image {background:#FFF;border:#FFF 1px solid;display:block;float:left;height:250px;margin:0 20px 0 0;overflow:hidden;width:300px;}
				#projects li .project-detail {margin:0 0 0 300px;padding:30px;}
				#projects li h3 {margin:0 0 3px 0;}
					#projects li h3 a {color:#424242;font-size:170%;}
						#projects li h3 a:hover {color:#e78200;}
				#projects li p {color:#7b858b;font-size:85%;line-height:1.5;margin:0 0 10px 0;}
					#projects li p strong {color:#424242;}
				#projects li p.links {font-size:75%;margin:30px 0 0 0;}
				#projects li p.meta {color:#bdced1;font-size:73%;}
	/* posts */
        #posts {padding:5px 0;}
			#posts .flickr-rss {background:#FFF;border:#e3f0f2 10px solid;float:right;margin:0 0 0 15px;width:375px;}
				#posts .flickr-rss li {height:75px;float:left;overflow:hidden;width:75px;}
			#posts .post {border-bottom:#CCC 1px dotted;padding:15px 0;}
				#posts li h4 {border-bottom:#e3f0f2 1px solid;color:#424242;font-size:120%;padding:0 0 5px 5px;}
				#posts li h3 {border-bottom:#e3f0f2 1px solid;color:#424242;font-size:150%;padding:0 0 5px 5px;}
					#posts li h3 a {color:#424242;}
						#posts li h3 a:hover {color:#e78200;}
				#posts li .image {background:#FFF;border:#e3f0f2 10px solid;display:block;float:right;height:250px;margin:-35px 0 0 15px;overflow:hidden;width:500px;}
					#posts li .image:hover {border-color:#cce4e8;}
				#posts.single li .image {height:auto;}
				#posts li p.meta {background:#f1f7f8;color:#bdced1;font-size:73%;line-height:1.6;padding:5px 10px;}
                #posts li div.post-content {font-size:80%;line-height:1.6;padding:15px 15px 15px 10px;}
                    /*#posts li div.post-content p {margin:0 0 12px 0;}*/
                    #posts li div.post-content p:first-child {color:#424242;font-size:102%;}
					#posts li div.post-content .more-link {display:block;margin:10px 0 0 0;}
				#posts li p.date {border-top:#CCC 1px dotted;color:#999;font-size:75%;font-style:italic;margin:5px 0 0 10px;padding:15px 0 0 0;}
				#posts li p.images {border-top:#CCC 1px dotted;color:#999;font-size:75%;font-style:italic;margin:5px 0 0 10px;padding:5px 0 0 0;}
	/* content */
		#content {padding:20px 10px 5px 10px;}
			#content .col {float:left;margin:10px 20px 0 0;}
			#content .col.last {float:right;margin:10px 0;}
			#content .g1 {width:300px;}
			#content .g2 {width:620px;}
				#content p {margin:0 0 20px 0;}
				#content .preamble {font-size:115%;line-height:1.8;margin:0 0 30px 0;}
					#content .preamble strong {color:#424242;}
					#content .preamble em {background:#fff6e3;}
				#content .clients {border-top:#CCC 1px dotted;font-size:75%;line-height:1.6;padding:25px 0 0 0;}
					#content .clients span {color:#CCC;}
				.services {border-bottom:#CCC 1px dotted;font-size:75%;line-height:1.6;padding:5px 0 10px 0;}
					.services span {color:#CCC;}
				#content #quotes {background:#CCC;height:195px;overflow:hidden;position:relative;}
				#content .g1 blockquote {background:#FFF;min-height:195px;position:absolute;}
				#content .g1 blockquote:first-child {z-index:10;}
					#content .g1 blockquote p:first-child {background:#fff0d0 url(../images/bg_blockquote.gif) no-repeat;font-family:Georgia, "Times New Roman", Serif;font-size:10.5pt;font-style:italic;line-height:1.5;margin:0;padding:20px 20px 10px 20px;text-align:center;}
					#content .g1 blockquote p {background:#FFF url(../images/bg_cite.gif) no-repeat top right;padding:30px 20px 0 20px;text-align:right;}
					#content .g1 blockquote p cite {color:#424242;font-size:80%;}
						#content .g1 blockquote p cite span {color:#999;display:block;font-size:70%;}
						
	/* footer */
		#footer {border-top:#f1f7f8 3px solid;}
			#footer p {border-top:#424242 1px solid;color:#999;font-size:75%;line-height:30px;}
				#footer p a {background:#424242 url(../images/logo.gif) no-repeat center center;float:left;display:block;height:30px;margin:0 10px 0 0;text-indent:-5000px;width:46px;}
					#footer p a:hover {background-color:#e78200;}
/*---------------------------------
	4. CLASSES
---------------------------------*/
.button {background:#338aa8;color:#FFF;font-weight:bold;padding:5px 10px;}
.button:hover {background:#e78200;color:#FFF;}
/*---------------------------------
	5. HACKS
---------------------------------*/
.clear:after, #network:after, #header:after, #header ul:after, #projects:after,#content:after, .post:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clear, #network, #header, #header ul, #projects, #content, .post {display:inline-block;}
/* Hide from IE Mac \*/
.clear, #network, #header, #header ul, #projects, #content, .post {display:block;}
/* End hide from IE Mac */

form legend {
    color: #333;
    padding: 0 0 20px 0;
    text-transform: uppercase;
}

form {
    /*padding: 0 20px 20px 20px;*/
}

form, form fieldset input, form fieldset textarea, form label {
    font-family: Helvetica, Arial;
    font-size: 10pt;
}
form p { position: relative; margin: 10px 0;}
form p label { position: absolute; top: 0; left: 0;}

form fieldset input,
form fieldset textarea {
    /*display: block;*/
    padding: 5px;
    /*width: 400px;*/
    margin: 0;
}

form fieldset input,
form fieldset textarea {
    /*display: block;*/
    padding: 5px;
    /*width: 400px;*/
    margin: 0;
}

form fieldset label {
    width: 380px;
    display: block;
    margin: 5px 5px 5px 6px;
    padding: 0;
}

form fieldset textarea {
    padding: 2px;
    width: 404px;
}

form textarea,
form input {
    border: solid 1px #ccc;
}
form label {
    color: #777;
}

