{% extends "base.html" %}

{% block title %}
Account Activation
{% endblock %}


{% block content %}

<ul id="posts" >
    <li class="post">
        <h3>Account Activation</h3>
        <div class="post-content">
            {% if account %}
                <p>Your account has been activated. You may now <a href="/accounts/login/">login and create your profile.</a>.</p> 
            {% else %}
                <p>Account activation failed. Probably not a valid link.</p> 
            {% endif %}
        </div>
    </li>
</ul>

{% endblock %}
