{% extends "base.html" %}

{% block title %}
Account Activation
{% endblock %}


{% block content %}

<ul id="posts" >
    <li class="post">
        <h3><a href="" title="">Account Activation</a></h3>
        
        <div class="post-content">

        {% if account %}
            <p>Your account has been activated. You may now <a href="/accounts/login/">login</a>.</p> 
        {% else %}
            <p>Account activation failed. Probably not a valid link.</p> 
        {% endif %}

        </div>
    </li>
</ul>

{% endblock %}
