{% extends "base.html" %}

{% block title %}
Login | AppName
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $("label").inFieldLabels();
});
</script>
{% endblock %}


{% block content %}

<ul id="posts" >
    <li class="post">
    <h3><a href="" title="">Login</a></h3>
    <div class="post-content">

        <form action="" method="post">
            <fieldset>
            <p>
            <label for="username">Username</label>
            <input id="username" type="text" name="username" /> 
            </p>

            <p>
            <label for="password">Password</label>
            <input id="password" type="password" name="password" /> 
            </p>
            </fieldset>
            <p>
            <input type="submit" value="Login" /> 
            <input type="hidden" name="next" value="{{ next|escape }}" />
            </p>

            {% if form.errors %}
            <p class="notice">Sorry, that's not a valid username or password.</p> 
            {% endif %}
        </form> 

    </div>
    </li>
</ul>



{% endblock %}
