{% extends "base.html" %}
 
{% block title %}
Register
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
  $("label").inFieldLabels();
});
</script>
{% endblock %}

{% block content %}

<ul id="posts" >
    <li class="post">
        <h3><a href="" title="">Register</a></h3>
        <div class="post-content">

            <form action="" method="post">
                <fieldset>
                {% for field in form %}
                
                <p> 
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}<div class="notice">{{ field.errors }}</div>{% endif %}
                </p> 
                
                {% endfor %}
                </fieldset>
                    <p>
                    <input type="submit" value="Register" /> 
                </p>    
            </form>

        </div>
    </li>
</ul>
{% endblock %}
