{% extends "base.html" %}
 
{% block title %}
Register
{% endblock %}

{% block script %}
<script>

function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
    return pattern.test(emailAddress);
}

$(document).ready(function(){
    $("label").inFieldLabels();

    $("#id_username").change(function() { 
        var username = $("#id_username").val();
        var msgbox = $("#status");

        if(username.length > 3) {
            $("#status").html('<img src="{{ MEDIA_URL }}img/loader.gif">&nbsp;Checking availability...');

            $.ajax({
                type: "POST", 
                url: "{% url check-username %}", 
                data: "username="+ username, 
                success: function(msg) { 
                    $("#status").ajaxComplete(function(event, request) { 
                        var d = msg;
                        var str = msg.substr(0, 2);
                        if (str == 'OK') { 
                            $("#id_username").removeClass("red");
                            $("#id_username").addClass("green");
                            msgbox.html('');
                        } else { 
                            $("#id_username").removeClass("green");
                            $("#id_username").addClass("red");
                            msgbox.html('<font color="#cc0000">' + msg + '</font>');
                        } 
                    });
                } 
            }); 
        } else {
            $("#id_username").addClass("red"); 
            $("#status").html('<font color="#cc0000">Enter a valid username.</font>');
        }
        return false;
    });

	$("#id_email").change(function() {
		var email = $("#id_email").val();
		if (email != 0) {    
			if(!isValidEmailAddress(email)) {
				$("#id_email").removeClass("green");
				$("#id_email").addClass("red");
			} else {
				$("#id_email").removeClass("red");
				$("#id_email").addClass("green");
			}
		} else {
			$("#id_email").removeClass("red");
			$("#id_email").removeClass("green");
		}
	});

	$("#id_password2").keyup(function() {
		var pass1 = $("#id_password1").val();
		var pass2 = $("#id_password2").val();

		if (pass1 != pass2 ) {
			$("#id_password1").removeClass("green");
			$("#id_password1").addClass("red");
			$("#id_password2").removeClass("green");
			$("#id_password2").addClass("red");
		} else {
			$("#id_password1").removeClass("red");
			$("#id_password1").addClass("green");
			$("#id_password2").removeClass("red");
			$("#id_password2").addClass("green");
		}
	});
});
</script>
{% endblock %}

{% block content %}
<ul id="posts" >
    <li class="post">
        <h3>Register</h3>
        <div class="post-content">
            <form action="" method="post">
                <fieldset>
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}
                            {{ field }}<span id="status"></span>
                            {% if field.errors %}<span>{{ field.errors }}</span>{% endif %}
                        </p>
                    {% endfor %}
                </fieldset>
                <p>
		      		<button type="submit">&rarr;</button>
                </p>    
            </form>
        </div>
    </li>
</ul>
{% endblock %}
