{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% if profile %}
        {% blocktrans with profile.user as u %}{{ u }} 's Profile{% endblocktrans %}
	{% else %}
        {% blocktrans %}Private Profile{% endblocktrans %}
	{% endif %}
{% endblock %}

{% block content %}

{% if profile %}

<ul id="posts" >
    <li class="post">
        <h3>
            {% blocktrans with profile.user as u %}{{ u }}'s Profile{% endblocktrans %}
            {% if profile.user.is_staff %}
            <span class="red-button">{% trans 'Staff' %}</span>
            {% endif %}
            {% if user == profile.user %}
                <a title="{% trans 'Edit your profile' %}" href="{% url profiles_edit_profile %}">{% trans 'Edit' %}</a>
                <a title="{% trans 'Change your password' %}" href="{% url auth_password_change %}">{% trans 'Change Password' %}</a>
            {% endif %}
        </h3>
        
        <div class="post-content">
            <ul>
                <li><span>{% trans 'Name' %}</span><div>{{ profile.firstname }} {{ profile.lastname }}</div></li>
                <li><span>{% trans 'Phone Number' %}</span><div>{{ profile.phone_number }}</div></li>
                <li><span>{% trans 'Home Address' %}</span><div>{{ profile.home_address}}</div></li>
            </ul>

			<br />
			<h3>{% trans 'Favorite places' %}</h3>
            <ul>
            	{% for fav in fav_list %}
            	    <li><a href="{% url view-place fav.place.pk %}">{{ fav.place }}</a></li>
            	{% empty %}
                    <div id="small">{% trans 'No favorite places yet.' %}</div>
            	{% endfor %}
            </ul>
        </div>
    </li>
</ul>

{% else %}

<ul id="posts" >
    <li class="post">
        <h3>{% trans 'Private Profile' %}</h3>
        <div class="post-content">
			{% trans 'The user has marked his profile as private.' %}
        </div>
    </li>
</ul>

{% endif %}

{% endblock %}
