{% extends "base.html" %}
{% load i18n %}

{% block title %} 
    {% blocktrans %}Server error (500){% endblocktrans %}
{% endblock %}

{% block content %} 
<ul id="posts" >
    <li class="post">
        <h3>{% trans "Internal Server Error" %}</h3>
        <div class="post-content">
            {% blocktrans %}Looks like something is not working as it should aka HTTTP 505. You should probably <a href="javascript:history.go(-1)">go back</a>.{% endblocktrans %}
        </div>
    </li>
</ul>
{% endblock %} 
