{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Home{% endblocktrans %}
{% endblock %}

{% block head %}
<script>
var infowindow = new google.maps.InfoWindow({ size: new google.maps.Size(150, 50)});

function initialize() {
    var greece = new google.maps.LatLng(39.0, 22.0);
    var init_options = { zoom: 6, center: greece, mapTypeId: google.maps.MapTypeId.ROADMAP }
    
    var map = new google.maps.Map(document.getElementById("map"), init_options);
    
    google.maps.event.addListener(map, 'click', function() {
        infowindow.close();
    });
    
    setMarkers(map);
}

function setMarkers(map) {
    var popular_image = '{{ MEDIA_URL }}img/pinb.png', latest_image = '{{ MEDIA_URL }}img/pinr.png';
    
    var bounds = new google.maps.LatLngBounds();
    var latlng;

    {% for place in popular_places %}
        latlng = new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }});
        createMarker(map, latlng, popular_image, '{{ place.address }}', '{{ place.category }}, {{ place.area }} τ.μ.');
        bounds.extend(latlng);
    {% endfor %}

    {% for place in latest_places %}
        latlng = new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }});
        createMarker(map, latlng, latest_image, '{{ place.address }}', '{{ place.category }}, {{ place.area }} τ.μ.');
        bounds.extend(latlng);
    {% endfor %}
    
    map.fitBounds(bounds);
}

function createMarker(map, position, icon, label, html) {
    var content = '<b>' + label + '</b><br>' + html;
    var marker = new google.maps.Marker({
        position: position,
        map: map,
        icon: icon,
        title: label,
        zIndex: Math.round(position.lat()*-100000)<<5
    });

    google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(content); 
        infowindow.open(map, marker);
    });
}

$(document).ready(function() { 
    initialize();
}); 
</script>
{% endblock %}

{% block content %}

{% include "menu.html" %}

<div id="content"> 
    <div>
        <p class="preamble">
            <span>CEID <strong>Real Estate</strong></span>
            <span style="float:right;">
                <form action="/places/" method="GET">
                    <input class="index-form" id="filter-input" name="q" size="40"/>
                </form>
            </span>            
        </p>
        
        <p class="quicklinks">
            {% trans "Browse by categories" %} 
            <span>
                {% for cat in categories %}
                    &nbsp <a href='{% url all-places %}?q={{ cat.name }}' title='{{ cat.description }}'>{{ cat.name }}</a>
                {% empty %}
                    <em>{% trans "No categories yet. Bummer." %}</em>
                {% endfor %}
            </span>
            
            <br /><br />
            
			{% trans "Popular" %}
            <span>
            {% for place in popular_places %}
                &nbsp <a href='{% url view-place place.pk %}' title='{{ place.category }}, {{ place.area }} τ.μ.'>{{ place.address }}</a>
            {% empty %}
                <em>{% trans "No places added yet." %}</em>
            {% endfor %}
            </span>
            
			<br />
            
			{% trans "Latest" %}
            <span> 
            {% for place in latest_places %}
                &nbsp <a href='{% url view-place place.pk %}' title='{{ place.category }}, {{ place.area }} τ.μ.'>{{ place.address }}</a>
            {% empty %}
                <em>{% trans "No places added yet." %}</em>
            {% endfor %}
            </span>
        </p> 
    </div>
</div> 

<div id="map-wrapper">
    <noscript>{% trans "Maps require JavaScript enabled." %}</noscript>
    <div id="map" class="map-big"></div> 
</div>

{% endblock %}
