{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Home{% endblocktrans %}
{% endblock %}

{% block head %}
<script>
    $(document).ready(function() { 
        var greece = new google.maps.LatLng(39.0, 22.0);
        var init_options = { zoom: 5, center: greece, mapTypeId: google.maps.MapTypeId.ROADMAP }
        
        var map = new google.maps.Map(document.getElementById("map"), init_options);

        var popular_image = '{{ MEDIA_URL }}img/pinb.png';
        var latest_image = '{{ MEDIA_URL }}img/pinr.png';

        var popular_markers = new Array;
        {% for place in popular_places %}
            popular_markers.push(new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }}));
        {% endfor %}
        
        var latest_markers = new Array;
        {% for place in popular_places %}
            latest_markers.push(new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }}));
        {% endfor %}

        var bounds = new google.maps.LatLngBounds();

        for (var i = 0; i < popular_markers.length; i++) {
            var marker = new google.maps.Marker({ 
                position: popular_markers[i], 
                map: map,
                icon: popular_image,
            });
            bounds.extend(popular_markers[i]);
            var infowindow = new google.maps.InfoWindow({
                    content: "hello"
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }
        
        for (var i = 0; i < latest_markers.length; i++) {
            var marker = new google.maps.Marker({ 
                position: latest_markers[i], 
                map: map,
                icon: latest_image,
            });
            bounds.extend(latest_markers[i]);
            var infowindow = new google.maps.InfoWindow({
                    content: "hello"
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map, marker);
            });
        }
        
        map.fitBounds(bounds);
    }); 
</script>
{% endblock %}

{% block content %}

{% include "menu.html" %}

<div id="content"> 
    <div>
        <p class="preamble">
            <span>CEID <strong>Real Estate</strong></span>
            <span>
                <form style="float:right;" action="/places/" method="GET">
                    <input id="filter-input" name="q" size="40"/>
                </form>
            </span>            
        </p>
        
        <p class="quicklinks">
            {% trans "Browse by categories" %} 
            <span>
                {% for cat in categories %}
                    &nbsp <a href='{% url all-places %}?q={{ cat.name }}' title='{{ cat.description }}'>{{ cat.name }}</a>
                {% empty %}
                    <em>{% trans "No categories yet. Bummer." %}</em>
                {% endfor %}
            </span>
            
            <br /><br />
            
			{% trans "Popular" %}
            <span>
            {% for place in popular_places %}
                &nbsp <a href='{% url view-place place.pk %}'>{{ place.address }}</a>
            {% empty %}
                <em>{% trans "No places added yet." %}</em>
            {% endfor %}
            </span>
            
			<br />
            
			{% trans "Latest" %}
            <span> 
            {% for place in latest_places %}
                &nbsp <a href='{% url view-place place.pk %}'>{{ place.address }}</a>
            {% empty %}
                <em>{% trans "No places added yet." %}</em>
            {% endfor %}
            </span>
        </p> 
    </div>
</div> 

<div id="map-wrapper">
    <noscript>{% trans "Maps require JavaScript enabled." %}</noscript>
    <div id="map" class="map-big"></div> 
</div>

{% endblock %}
