{% extends "base.html" %}
{% load pagination_tags %}
{% load i18n %}

{% block title %} 
    {% blocktrans %}All places{% endblocktrans %}
{% endblock %}

{% block head %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#search-info').hide()
    
    $("#filter-input").keyup(function () {
        $('#search-info').show()
        var query = $(this).val().toLowerCase();
        $.ajax({ 
            type: "POST",
            url: "{% url search-count %}",
            data: { q : query },
            cache: false, 
            context: document.body, 
            success: function(data) {
                console.log('count=' + data)
                $("#filter-count").text(data);
            }
        });
    });
});
</script>
{% endblock %}

{% block content %} 

<ul id="posts">
    <noscript>{% trans 'This page requires JavaScript enabled. Defaulting to plain view.' %}</noscript>
    
    <li class="post">
        <h3>
            {% trans 'Searching' %}
        </h3>
        
        <div class="post-content">
            <div id='filter-input-box'>
                <form action="" method="GET">
                    <input id="filter-input" name="q" size="40"/>
                    <input id="filter-button" type="submit" value="Show results"/>
                    <span class="small" id="search-info">
                        {% blocktrans with place_list|length as count %}Approximately <span id="filter-count">{{ count }}</span> results.{% endblocktrans %}
                    </span>
                </form>
            </div>
            
            <div id="all-places">

                {% if place_list %}
                <table id="box-table-a">
                    <thead>
                    	<tr>
                        	<th scope="col">{% trans 'Address' %}</th>
                            <th scope="col">{% trans 'City' %}</th>
                            <th scope="col">{% trans 'Category' %}</th>
                            <th scope="col">{% trans 'Price' %}</th>
                            <th scope="col">{% trans 'Area' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% autopaginate place_list 10 %}
                        {% for place in place_list %}
                        <tr>
                            <td><a href="{% url view-place place.pk %}">{{ place.address }}</td>
                            <td>{{ place.city }}</td>
                            <td>{{ place.category }}</td>
                            <td>{{ place.price }}</td>
                            <td>{{ place.area }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% paginate %}
                {% else %}
                    <p>{% trans 'No results.' %}</p>
                {% endif %}
            </div>
        </div>    
    </li>
</ul>

{% endblock %}
