{% extends "base.html" %}
{% load i18n %}

{% block title %} 
    {% blocktrans %}All places{% endblocktrans %}
{% endblock %}

{% block head %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        
        /* Get data with AJAX and populate the table. */
        $.getJSON("{% url places-json %}", function(data) {
            $("#all-places .loading").remove();
            $("#box-table-a").show();
            $.each(data, function(i, item) {
                $("#box-table-a tbody").append(
                    '<tr>' + 
                        '<td>' + item.fields.address + '</a></td>' +
                        '<td>' + item.fields.city + '</td>' +
                        '<td>' + item.fields.category +'</td>' +
                        '<td>' + item.fields.area +'</td>' +
                        '<td>' + item.fields.price +'</td>' +
                    '</tr>');
            });
        });
        
        function applyfilter(filter) {
            var cnt = 0;

            /* foreach tr... */
            $("#box-table-a tbody tr").each(function(i, e) {

                /* select all td elements of tr, as we can't manipulate with visibility of tr */
                var tds = $(this).children("td");
                
                /* get the text of all td elements */
                tr_data = $(this).text().toLowerCase();
                
                if (tr_data.indexOf(filter) == -1 ) {
                    tds.fadeOut();
                } else {
                    tds.fadeIn();
                    cnt++;
                }
            });
            return cnt;
        }
    
        $("#filter-input").keyup(function () {
            var filter = $(this).val().toLowerCase();
            var cnt = applyfilter(filter);
            $("#filter-count").text(cnt);
        });
        
        /*
        function getUrlVars() {
        	var vars = {};
        	var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        		vars[key] = value;
        	});
        	return vars;
        }
        
        var query = getUrlVars()["q"];
        if (query != undefined) {
            var cnt2 = applyfilter('300');
            $("#filter-count").text(cnt2);
        } else {
            console.log('undefined query');
        }
        */
});
</script>
{% endblock %}

{% block content %} 

{% include "menu.html" %} 

<ul id="posts">
    <noscript>{% trans 'This page requires JavaScript enabled. Defaulting to plain view.' %}</noscript>
    
    <li class="post">
        <h3>
            {% trans 'Searching' %} 
        </h3>
        
        <div class="post-content">
            <div id='filter-input-box'>
                <input id="filter-input" name="filter" size="40"/>
                <span class="small">Showing <span id="filter-count">{{ places_list|length}}</span> of {{ places_list|length}} places.</span>
            </div>
            
            <div id="all-places">
                <span class="loading">Loading places...</span>
                
                <table id="box-table-a" summary="All places" style="display:none">
                    <thead>
                    	<tr>
                        	<th scope="col">{% trans 'Address' %}</th>
                            <th scope="col">{% trans 'City' %}</th>
                            <th scope="col">{% trans 'Category' %}</th>
                            <th scope="col">{% trans 'Price' %}</th>
                            <th scope="col">{% trans 'Area' %}</th>
                        </tr>
                    </thead>
                    <tbody><!-- Intentionally empty --></tbody>
                </table>
                
            </div>
        </div>    
    </li>
</ul>

{% endblock %}
