{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {{ place }}
{% endblock %}

{% block head %}
{# Scripts and custom CSS widgets #}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/notifybar.css" /> 
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/colorbox.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.notifybar.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="{% url django.views.i18n.javascript_catalog %}"></script>
<script>

/* DISQUS comments variables */
var disqus_developer = 1; 

$(document).ready(function() {

    $("a[rel='photos']").colorbox();

    $("#favlink").click(function() {
        $.ajax({
            type: "POST",
            url: "{% url fave-place place.pk %}",
            data: " ",
            cache: false,
                
            success: function(data, txtstat, request) {
                if (request.status == 200) {
                    $.notifyBar({ html: gettext("Your bookmarks have been updated."), delay: 2000, animationSpeed: "normal" });
                } else if (request.status == 304) {
                    $.notifyBar({ html: gettext("Place is already bookmarked."), delay: 2000, animationSpeed: "normal" });
                }
                //TODO disable favlink
            },  
            error: function(data, txtstat, request) { 
                $.notifyBar({ cls: "error", html: "Request failed:" + txtstat });
            },
        }); 
    });

    var myLatlng = new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }});
    var myOptions = {
        zoom: 15,
        center: myLatlng,
        mapTypeControl: true,
        mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DROPDOWN_MENU },
        navigationControl: true,
        navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL },
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    
    var map = new google.maps.Map(document.getElementById("map"), myOptions);
    var marker = new google.maps.Marker({
        position: myLatlng, 
        map: map, 
        title:"{{ place }}"
    });  
});
</script>
{% endblock %}

{% block content %}
<style>
.round {
    background-color:#747474;-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; color:white; padding:0 3px;
}

a.round-red {
    font-size: 60%; background-color:#dd0000;-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; color:white; padding:0 3px;
}

a.round-blue {
    font-size: 60%; background-color:#5f99cf;-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; color:white; padding:0 3px;
}

a.round-other {
    font-size: 60%; background-color:#5F99CF;-moz-border-radius:3px 3px 3px 3px; -webkit-border-radius:3px 3px 3px 3px; color:white; padding:0 3px;
}
</style>

{% include "menu.html" %}

<ul id="posts" >

    <li class="post">
        <h4>
            {{ place.address}}, {{ place.city}}
            {% if place.submitter == user %}
                <a class="round-red" title="{% trans 'You can delete this place.' %}" href="{% url delete-place place.pk %}">{% trans 'Delete' %}<a>
            {% endif %}
            {% if user.is_authenticated %}
                <a class="round-blue" title="{% trans 'Add this place to your favorites.' %}" id="favlink" style="padding-left: 5px;">{% trans 'Like!' %}</a>
            {% endif %}
        </h4>
        
        <div class="side-map">
            <noscript>
                <center style="padding: 100px;">
                    {% trans 'Maps require JavaScript enabled.' %}
                </center>
            </noscript>
            <div id="map" style="height: 100%;"></div>
        </div>
        
        <div class="meta">
            {% if place.action = 'S' %}
                <span class="round">{% trans 'For sale' %}</span>
            {% else %}
                <span class="round">{% trans 'To rent' %}</span>
            {% endif %}            
            {{ place.category }} &bull; {{ place.area }} τ.μ. &bull; {{ place.price }} €
        </div>

        <div class="post-content">
            <p><strong style="border-bottom: 1px dotted #CCCCCC;">{% trans 'Additional assets' %}</strong></p>
            <p>
            {% for asset in assets %}
                &bull; {{ asset.name }}
            {% empty %}
                <em>{% trans 'No additional assets' %}</em>
            {% endfor %}
            </p>
            
            <p><strong style="border-bottom: 1px dotted #CCCCCC;">{% trans 'Other Info' %}</strong></p>
            <p>{{ place.description }}</p>

            <p><em>{% trans 'Construction year' %}: </em>{{ place.year }}</p>
        </div>

        <div class="images">
		    {% for p in photos %}
                <a rel="photos" title="{% trans 'Escape to close' %}" href="{{ p.pic.url }}">
                    <img src="{% thumbnail p.pic 100x50 %}" width="60" height="60"/>
			    </a>
			{% empty %}
                <em>{% trans 'No photos submitted.' %}</em>
			{% endfor %}
        </div>
        
        <div class="date">
            {% blocktrans with place.pub_date as date and place.submitter as user %}Submitted on {{ date }} by {{ user }}.{% endblocktrans %}
            {% trans 'Views' %}: {{ place.hits }}
        </div>
    </li>
</ul>

<div id="comments">
    <h1>{% trans 'Comments' %}</h1>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    /* var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://realtyceid.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=realtyceid">comments powered by Disqus.</a></noscript>
    {# <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> #}
</div>
{% endblock %}
