{% extends "base.html" %}
{% load i18n %}

{% block title %} 
    {% blocktrans %}Submission complete{% endblocktrans %}
{% endblock %}

{% block content %} 
<ul id="posts">
    <li class="post">
        <h3>{% trans 'Thank you' %}</h3>
        <div class="post-content">
            {% url all-places as all_places_url %}
            <p>{% blocktrans with all_places_url as u %}Your submission will be reviewed by an administrator shortly. Back to<a href="{{ u }}"> all places.{% endblocktrans %}</a></h3></p>
        </div>
    </li>
</ul>
{% endblock %} 
