{% extends "base.html" %}
{% load i18n %}

{% block title %} 
    {% blocktrans %}500 - Internal Server Error{% endblocktrans %}
{% endblock %}

{% block content %} 
<ul id="posts" >
    <li class="post">
        <h3>{% trans "Internal Server Error" %}</h3>
        <div class="post-content">
            {% blocktrans %}
            Looks like something is not working as it should. You should probably <a href="javascript:history.go(-1)">go back</a>.
            {% endblocktrans %}
        </div>
    </li>
</ul>
{% endblock %} 
