<!DOCTYPE html>
<html>
    <head>
        
        <title>{% block title %}{% endblock %}</title>
        
        {# RSS feed #}
        <link type="application/rss+xml" rel="alternate" title="RSS" href="/places/feed/" />

        {# Favicon #}
        <link type="image/png" rel="icon" href="/static/img/favicon.png" />

        {# JQuery and Maps API #}
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

        {# JQuery Plugins #}
        <script type="text/javascript" src="/static/js/jquery.infieldlabel.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/static/js/fancybox/jquery.fancybox-1.3.1.pack.js"></script>

        {# Stylesheets #}
        <link rel="stylesheet" href="/static/css/master.css" type="text/css" />
        <link rel="stylesheet" href="/static/css/jquery-ui-1.7.2.smoothness.css" type="text/css" />
        <link rel="stylesheet" href="/static/js/datatables/css/demo_table_jui.css" type="text/css" />
        <link rel="stylesheet" href="/static/js/fancybox/jquery.fancybox-1.3.1.css" type="text/css" />

        <script>
            $(document).ready(function() {
                $('#top').slideDown(500);
            });
        </script>

        {% block script %}{% endblock %}
        {% block style %}{% endblock %}
    
    </head>
  
    <body>
        <div id="top" style="display:none;">
            <ul id="network" > 
                <li><a href="/" title="Home"><img src="/static/img/home.png"></a></li>
                {% if user.is_anonymous%}
                    <li><a href="/accounts/login/" title="Login">Login</a></li>
                    <li><a href="/accounts/register" title="Register">New account?</a></li>
                {% else %}
                    <li><a href="/profiles/{{ user.username }}">Hi, {{ user.username }}</a></li>
                    <li><a href="/accounts/logout/" title="Logout">Logout</a></li>
                {% endif %}
            </ul>
        </div>
 
        <div id="container">

            {% block content %}{% endblock %}
			
			<br />
			
            <div id="footer">
                <p>&copy; 2010. Powered by Django and JQuery.
					<span style="float: right;">
						<a href="/places/feed/"><img src="/static/img/rss.png"></a>
					</span>
				</p>
            </div>
           
        </div>
    </body>
</html>
