{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() { 
        $('#map-popular').googleMaps(); 
    }); 
</script>
{% endblock %}

{% block content %}
<div id="header">
    <ul>
        <li><a href="">Places</a></li>
        <li><a href="">Categories</a></li>
        <li><a href="">Search</a></li>
    </ul>
</div>

<hr />

    {% comment %}
    <section>

        <header>Latest places</header>
        
        {% for place in latest_list %}
        <article>{{ place.name }}</article>
        {% endfor %}
        
        <div id="map-latest"></div>
        
    </section>

    <section>
        <header>Popular places</header>
        {% for place in popular_list %}
        <article>{{ place.name }}</article>
        {% endfor %}
        <div style="width: 547px; height: 320px; border: 1px solid #777" id="map-popular"></div>
    </section>

    {% endcomment %}
 <div class="clear"></div>

{% endblock %}
