{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() { 
        $('#map-popular').googleMaps(); 
    }); 
</script>
{% endblock %}

{% block content %}
<div class="grid_12"> 
    <h2 id="page-heading">Αρχική</h2> 
</div> 


<div class="grid_8"> 
    <div id="slidedeck_framr">
            <dl class="slidedeck">
                <dt>Slide 1</dt>
                <dd>Slide content</dd>
                <dt>Slide 2</dt>
                <dd>Slide content</dd>
                <dt>Slide 3</dt>
                <dd>Slide content</dd>
                <dt>Slide 4</dt>
                <dd>Slide content</dd>
                <dt>Slide 5</dt>
                <dd>Slide content</dd>
            </dl>
        </div>
        <script type="text/javascript">
            $('.slidedeck').slidedeck();
        </script>
</div> 

    {% comment %}
    <section>

        <header>Latest places</header>
        
        {% for place in latest_list %}
        <article>{{ place.name }}</article>
        {% endfor %}
        
        <div id="map-latest"></div>
        
    </section>

    <section>
        <header>Popular places</header>
        {% for place in popular_list %}
        <article>{{ place.name }}</article>
        {% endfor %}
        <div style="width: 547px; height: 320px; border: 1px solid #777" id="map-popular"></div>
    </section>

    {% endcomment %}
 <div class="clear"></div>

{% endblock %}
