{% extends "base.html" %}

{% block title %}
CEID Real Estate Agency
{% endblock %}

{% block head %}
<script>
    $(document).ready(function() { 
        var greece = new google.maps.LatLng(39.0, 22.0);
        var init_options = { zoom: 5, center: greece, mapTypeId: google.maps.MapTypeId.ROADMAP }
        
        var map = new google.maps.Map(document.getElementById("map"), init_options);

        var popular_markers = new Array;
        {% for place in popular_places %}
            popular_markers.push(new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }}));
        {% endfor %} 

        var bounds = new google.maps.LatLngBounds();
        for (var i = 0; i < popular_markers.length; i++) {
            marker = new google.maps.Marker({ position: popular_markers[i], map: map });
            bounds.extend(popular_markers[i]);
        }
        
        map.fitBounds(bounds);
    }); 
</script>
{% endblock %}

{% block content %}

{% include "menu.html" %}

<div id="content"> 
    <div>
        <p class="preamble">CEID <strong>Real Estate</strong></p>
        
        <p class="quicklinks">
            {% if categories %}
                Browse by categories 
                <span>
                    {% for cat in categories %}
                        &nbsp <a href='{% url all-places %}?q={{ cat.name }}' title='{{ cat.description }}'>{{ cat.name }}</a>
                    {% endfor %}
                </span>
            {% else %}
                No categories yet. Bummer.
            {% endif %}
            <br /><br />
            
			{% if popular_places and latest_places %}
				Popular
            	<span>
                	{% for place in popular_places %}
                	&nbsp <a href='{% url view-place place.pk %}'>{{ place.address }}</a>
                	{% endfor %}
            	</span>
            
				<br />
            
				Latest
            	<span> 
                	{% for place in latest_places %}
                	&nbsp <a href='{% url view-place place.pk %}'>{{ place.address }}</a>
                	{% endfor %}
            	</span>
			{% else %}
				No places added yet.
			{% endif %}

        </p> 
    </div>
</div> 

<div id="map-wrapper"> 
    <div id="map" style="width: 100%; height: 480px; overflow: hidden;"></div> 
</div>

{% endblock %}
