{% extends "base.html" %}
{% block title %}Edit Profile{% endblock %}
 
{% block content %}
<ul id="posts" >
    <li class="post">
        <h3>Edit Profile</h3>
        <div class="post-content">
            <form method="post" action="">{% csrf_token %}
                <fieldset>
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}<span>{{ field.errors }}</span>{% endif %}
                    {% endfor %}
                    <p>
                        <button type="submit">Update Profile</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </li>
</ul>
{% endblock %}
