{% extends "base.html" %}

{% block title %}
	{{ profile.user }} 's Profile
{% endblock %}

{% block content %}

{% if profile %}

<ul id="posts" >
    <li class="post">
        <h3>
            {{ profile.user }}'s Profile
            {% if user == profile.user %}
                <span style="color:#ff0000;font-size:60%;padding-left:5px;"><a title="Edit your profile." href="/profiles/edit/">[Edit]</a></span>
            {% endif %}
        </h3>
        <div class="post-content">
            <ul>
                <li style="padding-bottom: 10px;"><span>Phone Number</span><div style="padding-left: 10px;"><b>{{ profile.phone_number }}</b></div></li>
                <li style="padding-bottom: 10px;"><span>Home Address</span><div style="padding-left: 10px;"><b>{{ profile.home_address}}</b></div></li>
            </ul>

			<br />
			<h3>Favorite places</h3>
			<ul>
            {% for fav in fav_list %}
                <li><a href="/places/{{ fav.place.pk }}/">{{ fav.place }}</a></li>
            {% endfor %}
        </ul>
        </div>
    </li>
</ul>

{% else %}

<ul id="posts" >
    <li class="post">
        <h3><a href="" title="">Private Profile</a></h3>
        <div class="post-content">
			The user has marked this as a private profile.
        </div>
    </li>
</ul>

{% endif %}

{% endblock %}
