{% extends "base.html" %}

{% block content %}
{% if profile %}
<ul id="posts" >
    <li class="post">
        <h3><a href="" title="">{{ profile.user }}'s Profile</a></h3>
        <div class="post-content">
            <ul>
                <li>{{ profile.phone_number }}</li>
                <li>{{ profile.home_address}}</li>
            </ul>
        </div>
    </li>
</ul>
{% else %}
<ul id="posts" >
    <li class="post">
        <h3><a href="" title="">Private Profile</a></h3>
        <div class="post-content">
            This is a private profile. Move along.
        </div>
    </li>
</ul>
{% endif %}
{% endblock %}
