{% extends "base.html" %}

{% block title %} 
All places
{% endblock %}

{% block script %} 
<script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                oTable = $('#example').dataTable({
                    "bJQueryUI": true,
                    "sPaginationType": "full_numbers",
                });

                {% if filter_on %}
                oTable.fnFilter('{{ filter_on }}');
                {% endif %}

                $("#reset-filter").click(function() {
                    oTable.fnFilter('');
                    $(this).hide();
                    $("#searching-for").html("All places");
                });
            });
</script>
{% endblock %}

{% block content %} 

{% include "menu.html" %} 

<ul id="posts" >
    <li class="post">
        <h3>
            <span>Searching for: </span>
            {% if filter_on %}
                <span id="searching-for">"{{ filter_on }}"</span>
                <span id="reset-filter" style="font-size:60%;"><a>[Reset filter]</a></span>
            {% else %}
                <span id="searching-for">All places</span>
            {% endif %}
        </h3>
        
        <div class="post-content">
            
            <table class="display" id="example" style="width:100%">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Price</th>
                        <th>Area</th>
                        <th>Year</th>
                    </tr>
                </thead>
                
				<tbody>
                    {% for place in places_list %}
                    <tr>
                        <td><a href="/places/{{ place.pk }}/">{{ place.address }}</a></td>
                        <td>{{ place.category.name }}</td>
                        <td>{{ place.city }}</td>
                        <td>{{ place.price }}</td>
                        <td>{{ place.area }}</td>
                        <td>{{ place.year }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    
    </li>
</ul>

{% endblock %}
