{% extends "base.html" %}
{% load i18n %}

{% block title %} 
    {% blocktrans %}All places{% endblocktrans %}
{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.dataTables.js"></script>
{# <link rel="stylesheet" href="{{ MEDIA_URL }}css/jquery-ui-1.7.2.smoothness.css" type="text/css" /> #}
<link rel="stylesheet" href="{{ MEDIA_URL }}js/datatables/css/demo_table_jui.css" type="text/css" />

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        oTable = $('#places-table').dataTable({
            "bJQueryUI": true,
            "sPaginationType": "full_numbers",
        });

        {% if filter_on %}
        oTable.fnFilter('{{ filter_on|escapejs }}');
        {% endif %}

        $("#reset-filter").click(function() {
            oTable.fnFilter('');
            $(this).hide();
            $("#searching-for").html('All places');
        });
    });
</script>
{% endblock %}

{% block content %} 

{% include "menu.html" %} 

<ul id="posts">
    <noscript>
        <center style="padding: 20px;">
        {% trans 'This page requires JavaScript enabled. Defaulting to plain view.' %}
        </center>
    </noscript>
    
    <li class="post">
        <h3>
            {% trans 'Searching for' %}: 
            {% if filter_on %}
                <span id="searching-for">"{{ filter_on }}"</span>
                <a id="reset-filter">{% trans 'Reset filter' %}</a>
            {% else %}
                <span id="searching-for">{% trans 'All places' %}</span>
            {% endif %}
        </h3>
        
        <div class="post-content">
            
            <table class="display" id="places-table" style="width:100%">
                <thead>
                    <tr>
                        <th>{% trans 'Address' %}</th>
                        <th>{% trans 'Category' %}</th>
                        <th>{% trans 'Availability' %}</th>
                        <th>{% trans 'City' %}</th>
                        <th>{% trans 'Price' %}</th>
                        <th>{% trans 'Area' %}</th>
                        <th>{% trans 'Year' %}</th>
                        <th>{% trans 'Submitter' %}</th>
                    </tr>
                </thead>
                
				<tbody>
                    {% for place in places_list %}
                    <tr>
                        <td><a href="{% url view-place place.pk %}">{{ place.address }}</a></td>
                        <td>{{ place.category.name }}</td>
                        
                        {% if place.action == 'S' %}
                            <td>{% trans 'Sale' %}</td>
                        {% else %}
                            <td>{% trans 'Rent' %}</td>
                        {% endif %}
                        
                        <td>{{ place.city }}</td>
                        <td>{{ place.price }} €</td>
                        <td>{{ place.area }} τ.μ.</td>
                        <td>{{ place.year }}</td>
                        <td>{{ place.submitter }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    
    </li>
</ul>

{% endblock %}
