{% extends "base.html" %}
{% load i18n %}

{% block title %} 
    {% blocktrans %}{{ place }} Deleted{% endblocktrans %}
{% endblock %}

{% block content %} 

<ul id="posts" >
    <li class="post">
        <h3>{% trans 'Deleted' %}</h3>
        <div class="post-content">
            {% url all-places all_places_url %}
            {% blocktrans %}{{ place }} was deleted succesfully. Back to the <a href="/">homepage</a> or <a href="{{ url all-places }}">all places</a>.{% endblocktrans %}
        </div>
    </li>
</ul>

{% endblock %} 
