{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% blocktrans %}Delete "{{ place }}"{% endblocktrans %}
{% endblock %}

{% block content %}
<ul id="posts" >
    <li class="post">
        <h3>{% trans 'Delete Place' %}</h3>

        <div class="post-content">    
            {% if place.submitter == user %}
            	<p>{% blocktrans %}Are you sure you want to delete "<strong>{{ place }}</strong>"?{% endblocktrans %}</p>
            	<form action="{% url delete-place place.pk %}" method="post">{% csrf_token %}
                	<p><button type="submit">{% trans 'Yes, delete it.' %}</button></p>                    
            	</form> 
            {% else %}
                <p>{% blocktrans %}You can only delete the items you submitted. <a href="javascript:history.back()" >Go back.</a>{% endblocktrans %}</p>
            {% endif %}
        </div>
    </li>
</ul>
{% endblock %}
