{% extends "base.html" %}
{% load i18n %}

{% block title %} 
    {% blocktrans with place as p %}{{ p }} Deleted{% endblocktrans %}
{% endblock %}

{% block content %} 

<ul id="posts" >
    <li class="post">
        <h3>{% trans 'Deleted' %}</h3>
        <div class="post-content">
            {% url all-places as all_places_url %}
            {% blocktrans with place as p and all_places_url as u %}{{ p }} was deleted succesfully. Back to the <a href="/">homepage</a> or <a href="{{ u }}">all places</a>.{% endblocktrans %}
        </div>
    </li>
</ul>

{% endblock %} 
