{% extends "base.html" %}

{% block title %}
    Delete "{{ place }}"
{% endblock %}

{% block content %}
<ul id="posts" >
    <li class="post">
        <h3>Delete Place</h3>
        
        <div class="post-content">    
            {% if place.submitter == user %}
            	<p>Are you sure you want to delete "<strong>{{ place }}</strong>"?</p>
            	<form action="{% url delete-place place.pk %}" method="post">{% csrf_token %}
                	<p><input type="submit" value="Yes, delete it." /></p>
            	</form> 
            {% else %}
                <p>You can only delete the items you submitted. <a href="javascript:history.back()">Go back.</a></p>
            {% endif %}
        </div>
    </li>
</ul>
{% endblock %}
