{% extends "base.html" %}

{% block title %}
    New Place
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}css/colorbox.css" />  
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.wizard-2.0.1-min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.colorbox-min.js"></script>

<script type="text/javascript">
var geocoder;
var map;

function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(38, 22);
    var myOptions = {
        zoom: 4,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.HYBRID
    };
    map = new google.maps.Map(document.getElementById("new-place-map"), myOptions);
}

function codeAddress() {
    var address = $("#id_address").val();
    var city = $("#id_city").val();
    var zipcode = $("#id_zipcode").val();
    var country = $("#id_country").val();
    var fulladdr = address + ', ' + city + ', ' + country;

    if (address != '' && city != '') {
        if (geocoder) {
            geocoder.geocode( { 'address': fulladdr }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var geolocation = results[0].geometry.location;

                    map.setCenter(geolocation);
                    map.setZoom(15);

                    $("#id_latitude").attr('value', geolocation.lat()); 
                    $("#id_longitude").attr('value', geolocation.lng());
                    var marker = new google.maps.Marker({
                        map: map, 
                        position: results[0].geometry.location
                    });
                    $("#new-place-map").show();
                } else {
                    $("#new-place-map").hide();
                    $("#geocode-status").show();
                }
            });
        }
    }
}

$(document).ready(function() {
    
    initialize();
    
    $('#add-image').click(function() {
        $(this).parent().prepend('<p><input type="file" name="image"></p>');
    });
    
    $("label").inFieldLabels();
    
    $("#new-place-form").formwizard({
        historyEnabled : false, 
        formPluginEnabled: false, 
        validationEnabled : false,
        focusFirstInput : true,
        afterNext : function(wizardData) {
            if (wizardData.currentStep == "step2") {
                codeAddress();
                $.fn.colorbox({title:"Select location", width:"604px", height:"436px", inline:true, href:"#new-place-map"});
            }
        },
    }, {}, {});
});
</script>
{% endblock %}

{% block content %}
<ul id="posts" >
    <li class="post">
        <h3>New Place</h3>
        <div class="post-content">
            {% include "places/new_form.html" %}
        </div>
    </li>
</ul>
{% endblock %}
