<div style="position: absolute;left: -10000px;}">
    <div id="new-place-map" style="width: 600px; height: 400px; border: 1px solid #777; overflow: hidden;">&nbsp;</div>
</div>

<form id="new-place-form" enctype="multipart/form-data" action="{% url new-place %}" method="post">{% csrf_token %}
    <fieldset id="step1" class="step">        
        <legend>Location Information</legend>
            <p>{{ form.address.label_tag }} {{ form.address }} {{ form.address.errors }}</p> 
            <p>{{ form.city.label_tag }} {{ form.city }} {{ form.city.errors }}</p> 
            <p>{{ form.zipcode.label_tag }} {{ form.zipcode }} {{ form.zipcode.errors }}</p> 
            <p>{{ form.country.label_tag }} {{ form.country }} {{ form.country.errors }}</p> 
    </fieldset>        

    <fieldset id="step2" class="step">        
        <legend>Property Information</legend>
        <span> 
            {{ form.category }}
            {{ form.category.errors }}
        </span> 
        <span> 
            {{ form.action }}
            {{ form.action.errors }}
        </span> 
        <p> 
            {{ form.price.label_tag }}
            {{ form.price }}
            {{ form.price.errors }}
        </p> 
        <p> 
            {{ form.area.label_tag }}
            {{ form.area }}
            {{ form.area.errors }}
        </p> 
        <p> 
            {{ form.year.label_tag }}
            {{ form.year }}
            {{ form.year.errors }}
        </p> 
        <p>
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </p>
    </fieldset>
    
    <fieldset id="step3" class="step">        
        <legend>Other Info</legend>
        <p>
            <input type="file" name="image">
        </p>

        <div style="padding: 10px 0 20px 0;" id="add-image">
            <a>+ Add image</a>
        </div>
    </fieldset>
    
    <div>
        <p>
            <button class="navigation_button" type="reset">Back</button>            
            <input class="navigation_button" value="Next" type="submit">
        </p>
    </div>
    {{ form.latitude }}
    {{ form.longitude }}
</form>
