<form id="new-place-form" action="/places/new/" method="post">

    <fieldset id="step1" class="step">        
        <legend>Location Information</legend>
            <p> 
                {{ form.address.label_tag }}
                {{ form.address }}
                {{ form.address.errors }}
            </p> 
            <p> 
                {{ form.city.label_tag }}
                {{ form.city }}
                {{ form.city.errors }}
            </p> 
            <p> 
                {{ form.zipcode.label_tag }}
                {{ form.zipcode }}
                {{ form.zipcode.errors }}
            </p> 
            <p> 
                {{ form.country.label_tag }}
                {{ form.country }}
                {{ form.country.errors }}
            </p> 
    </fieldset>        

    <fieldset id="step2" class="step">        
        <legend>Property Information</legend>
        <span> 
            {{ form.category }}
            {{ form.category.errors }}
        </span> 
        <span> 
            {{ form.action }}
            {{ form.action.errors }}
        </span> 
        <p> 
            {{ form.price.label_tag }}
            {{ form.price }}
            {{ form.price.errors }}
        </p> 
        <p> 
            {{ form.area.label_tag }}
            {{ form.area }}
            {{ form.area.errors }}
        </p> 
        <p> 
            {{ form.year.label_tag }}
            {{ form.year }}
            {{ form.year.errors }}
        </p> 
        <p>
            {{ form.description.label_tag }}
            {{ form.description }}
            {{ form.description.errors }}
        </p>
    </fieldset>
    
    <fieldset id="step3" class="step">        
        <legend>Other Info</legend>
        <p>
            {{ form.image.label_tag }}
            {{ form.image }}
            {{ form.image.errors }}
        </p>
    </fieldset>
    
    <fieldset id="step4" class="step">        
            <div id="map-status" style="display: none;">Geocoding failed for the location you entered.</div>
            <div id="new-place-map" style="width: 100%; height: 400px; overflow:hidden;">&nbsp;</div>
    </fieldset>
    
    <div>
        <p>
            <input class="navigation_button" value="Back" type="reset">
            <input class="navigation_button" value="Next" type="submit">
        </p>
    </div>
    {{ form.latitude }}
    {{ form.longitude }}
</form>
