{% extends "base.html" %}

{% block title %}
    {{ place }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/js/jquery.notifyBar.css" type="text/css" /> 
<script type="text/javascript" src="/static/js/jquery.notifyBar.js"></script> 
{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {

        $("a.thumb").fancybox({
            'padding'       : 0,
            'transitionIn'  : 'elastic',
            'transitionOut' : 'elastic'
        });

        $("#favlink").click(function() {
            $.ajax({
                type: "GET",
                url: "/places/{{ place.pk }}/fave/",
                data: " ",
                cache: false,
                    
                success: function(data) {
                    $.notifyBar({
                        html: data,
                        delay: 2000,
                        animationSpeed: "normal"
                    });
                },  
                error: function(textStatus) { 
                    $.notifyBar({ cls: "error", html: "AJAX request failed because of:" + textStatus });
                },
            }); 
        });

        var myLatlng = new google.maps.LatLng({{ place.latitude }}, {{ place.longitude }});
        var myOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
        var marker = new google.maps.Marker({
            position: myLatlng, 
            map: map, 
            title:"{{ place }}"
        });  
    });
</script>
{% endblock %}

{% block content %}

{% include "menu.html" %}

<ul id="posts" >

    <li class="post">
        <h4>
            <a href="" title="">{{ place.category.name }} &bull; {{ place.address}}, {{ place.city}}</a>
            {% if place.submitter == user %}
                <span style="color:#ff0000;font-size:80%;padding-left:5px;"><a title="You can delete this place." href="/places/{{ place.pk }}/delete/">[&times;]</a></span>
            {% endif %}
        </h4>
        <a href="#" class="image"><div id="map" style="height: 100%;">&nbsp</div></a>
        
        <p class="meta">
            Εμβαδόν <a href="" rel="tag">{{ place.area }} m&sup2;</a> &bull;
            Τιμή <a href="" rel="tag">{{ place.price }} $</a> &bull;
            Έτος Κατασκευής <a href="" rel="tag">{{ place.year }}</a> 
            {% if user.is_authenticated %}
            <a href="#" id="favlink" style="padding-left: 10px;"><img title="Bookmark this place." src="/static/img/star.png" /></a>
            {% endif %}
        </p>

        <div class="post-content">
            <p>{{ place.description }}</p>

        </div>

        <p class="images">
			{% if photos %}
				{% for p in photos %}
            		<a rel="Photos" class="thumb" href="{{ p.pic.url }}">
						<img src="{{ p.pic.url }}" width="60" height="60"/>
					</a>
				{% endfor %}
			{% else %}
				No photos submitted.
			{% endif %}
        </p>
        <p class="date">Submitted on {{ place.pub_date }} by {{ place.submitter.username }}</p>
    </li>
</ul>
{% endblock %}
